# =========================
# 1. 炼丹数据区 (绝对不能传)
# =========================
# 过滤掉所有的表格和光谱数据文件
*.csv
*.xlsx
*.txt
*.dat
*.npy
*.npz
# 如果你在项目里建了这些文件夹，也会被忽略
data/
datasets/

# =========================
# 2. 训练产物区 (可以重新跑出来的东西)
# =========================
# 过滤深度学习的模型权重文件 (后期非常庞大)
*.pt
*.pth
*.h5
*.ckpt
# 过滤掉我们脚本自动生成的图表和结果文件夹
ml_results/
covid_model_results/
# 过滤掉 Slurm 和终端输出的测试日志
train_log.txt
gpu_test_result.txt
gpu_info.txt
slurm-*.out

# =========================
# 3. Python 和 环境缓存 (毫无价值的代码垃圾)
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# =========================
# 4. 软件和系统配置文件
# =========================
# 忽略本地 VS Code 的配置文件
.vscode/
# 忽略 Mac 或 Windows 的系统文件
.DS_Store
Thumbs.db